<div class="commentBox">
    <img src="{{URL}}/resources/icons/profile_{{id}}.png" onerror="this.src='{{URL}}/resources/icons/profile_default.png';" alt="">
    <div>
        <h1><a href="{{URL}}/profile/{{commentUser}}">{{commentName}}</a></h1>
        <p id="text-comment-{{commentNumber}}">{{text}}</p>
        <span id="date-comment-{{commentNumber}}">({{posted}} no dia {{date}})</span>
        <form action="/tcc/comment/edit/{{videoId}}/{{commentId}}" method="post" id="form-edit-comment-{{commentNumber}}" class="hidden">
            <textarea name="text" id="textEdit-{{commentNumber}}" required rows="3" spellcheck="false" placeholder="Adicione seu comentário editado..." onkeyup="verifyEditComment({{commentNumber}})">{{text}}</textarea>
            <div>
                <span>Editando comentário...</span>
                <button type="button" onclick="editCommentForm({{commentNumber}}, 'close')">Cancelar</button>
                <button type="submit" id="buttonEdit-{{commentNumber}}">Salvar</button>
            </div>
        </form>
    </div>
    <div class="commentOptions">
        <button class="more" onclick="openMoreOptions({{commentNumber}})">
            <i class="fa-solid fa-ellipsis-vertical"></i>
            <ul class="moreOptions hidden" id="moreOptions-{{commentNumber}}">
                {{optionsComment}}
            </ul>
        </button>
    </div>
</div>