<a href="{{URL}}/unfollow/{{user}}">
    <button class="following">SEGUINDO <i class="fa-solid fa-check"></i></button>
</a>
<button class="more moreFollowing" onclick="openMoreOptions('moreOptions')">
    <i class="fa-solid fa-chevron-down"></i>
    <ul class="moreOptions hidden" id="moreOptions">
        <a onclick="shareToClipboard()" id="profile-share-button" data-clipboard-target="#profile-share-link">
            <li><i class="fa-solid fa-share-nodes"></i> Share</li>
        </a>
        <hr>
        <a href="">
            <li><i class="fa-solid fa-flag"></i> Report</li>
        </a>
    </ul>
</button>