:root{

    --profile-more-options-background: rgba(52, 52, 52, 0.3);
    --video-aspect-ratio: 15;
}
.hero{
    width: 100%;
    height: 35vh;

    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.hero > .social{
    display: flex;
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.hero > .social > a + a{
    margin-left: 10px;
}

.profileInfo{
    width: 25%;

    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;

    position: absolute;
    top: calc(35vh - 150px/2);
    left: calc(50% - 25%/2);
}
.profileInfo > img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
}
.profileInfo > h1{
    color: var(--label);
    font-weight: 900;
    font-size: 25px;

    margin-top: 10px;
}
.profileInfo > p{
    color: var(--description);
    font-weight: 300;
    font-size: 15px;
    width: 230px;
    text-align: center;
    margin: 5px 0;
}
.profileInfo > p > a{
    color: var(--link);
    font-weight: 400;
    text-decoration: none;
    transition: .3s;
    cursor: pointer;
}
.profileInfo > p > a:hover{
    color: var(--secondary-link);
}
.profileInfo > .settings{
    display: flex;
    gap: 10px;
    margin: 10px 0;
    justify-content: center;
    justify-items: center;
}
.profileInfo > .settings > .more{
    width: 25px;
    height: 25px;

    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    background-color: var(--blue);
    color: white;
    font-weight: 900;
    transition: .3s;
    position: relative;
}
.profileInfo > .settings > .moreFollow{
    background-color: var(--blue);
}
.profileInfo > .settings > .more > .moreOptions{
    position: absolute;
    top: 30px;

    width: 100px;
    left: calc(50% - calc(100px/2));

    list-style-type: none;

    background: rgba( 183, 183, 183, 0.15 );
    box-shadow: 0 8px 32px 0 rgba(254, 254, 254, 0.05);
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 5px;
}
.profileInfo > .settings > .more > .moreOptions li{
    padding: 8px 0;
}
.profileInfo > .settings > .more > .moreOptions hr{
    width: 75%;
    margin: 0 auto;
    height: 1px;
    background-color: var(--gray-3);
}
.profileInfo > .settings > .more > .moreOptions a{
    color: var(--label);
    text-decoration: none;
    font-size: 12px;
    transition: .2s;
}
.profileInfo > .settings > .more > .moreOptions a:hover{
    color: var(--description);
}
.profileInfo > .settings > .more > .moreOptions a:active{
    color: var(--red);
}
.profileInfo > .settings > a > .follow{
    padding: 0 10px;
    height: 25px;

    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    background-color: var(--blue);
    color: white;
    font-weight: 900;
    transition: .3s;
}
.profileInfo > .settings > a > .follow:hover,
.profileInfo > .settings > .moreFollow:hover{
    background-color: var(--secondary-blue);
}

.profileInfo > .settings > .moreFollowing{
    background-color: var(--green);
}
.profileInfo > .settings > a > .following{
    padding: 0 10px;
    height: 25px;

    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    background-color: var(--green);
    color: white;
    font-weight: 900;
    transition: .3s;
}
.profileInfo > .settings > a > .following:hover,
.profileInfo > .settings > .moreFollowing:hover{
    background-color: var(--secondary-green);
}

.profileInfo > .settings > .moreEdit{
    background-color: var(--gray-2);
}
.profileInfo > .settings > a > .edit{
    padding: 0 10px;
    height: 25px;

    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    background-color: var(--gray-2);
    color: white;
    font-weight: 900;
    transition: .3s;
}
.profileInfo > .settings > a > .edit:hover,
.profileInfo > .settings > .moreEdit:hover{
    background-color: var(--gray-3);
}

.stats{
    color: var(--gray-1);

    text-align: center;
}
.stats > p{
    display: inline;
    font-weight: 300;
}
.stats > p > span{
    font-weight: 800;
}
.stats > p + p{
    margin-left: 20px;
}
.hr{
    width: 75vw;
    height: 1px;
    background-color: var(--gray-2);
    margin: 10px auto;
}
.spaceProfile{
    width: 100%;
    height: 275px;
}

.profileVideos{
    width: 75vw;
    margin: 0 auto;
    
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 30px 0;
}
.profileVideos > .videoContainer{
    width: auto;
    height: auto;
}
.profileVideos > .videoContainer a > img{
    width: calc(3840px / var(--video-aspect-ratio));
    height: calc(2160px / var(--video-aspect-ratio));
    cursor: pointer;
}
.profileVideos > .videoContainer > .title{
    all: inherit;
    width: auto;
}
.profileVideos > .videoContainer a{
    text-decoration: none;
    height: auto;
}
.profileVideos > .videoContainer a > h1{
    color: var(--label);
    font-size: 16px;
    transition: .3s;

    cursor: pointer;
    max-width: 225px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0 5px;
}
.profileVideos > .videoContainer a > h1:hover{
    color: var(--gray-1);
}
.profileVideos > .videoContainer h2{
    padding: 0 5px;
}
.profileVideos > .videoContainer h2,
.profileVideos > .videoContainer h2 > a{
    color: var(--secondary-label);
    text-decoration: none;
    font-size: 10px;
    font-weight: 300;
    max-width: 225px;

    transition: .3s;
}
.profileVideos > .videoContainer h2 > a:hover{
    color: var(--gray-1);
}
.profileVideos > .videoContainer h3{
    color: var(--tertiary-label);
    text-decoration: none;
    font-size: 8px;
    font-weight: 300;
    font-style: italic;
    max-width: 225px;

    padding: 0 5px;
    transition: .3s;
}
.videoContainer > .videoDesc{
    display: grid;
    grid-template-columns: 1fr auto;
}
.videoContainer > .videoDesc > .divOptions{
    display: flex;
    justify-content: center;
    align-content: center;
}
.videoContainer > .videoDesc .videoOptions{
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;

    color: var(--label);
    font-weight: 900;
    transition: .3s;
    position: relative;
    padding: 2px 4px;
}
.videoContainer > .videoDesc .videoOptions:hover{
    color: var(--gray-1);
}


.videoContainer > .videoDesc > .divOptions > .videoOptions > .moreOptionsVideo{
    position: absolute;
    top: 35px;

    width: 75px;
    left: calc(50% - calc(75px/2));

    list-style-type: none;

    background: rgba( 183, 183, 183, 0.15 );
    box-shadow: 0 8px 32px 0 rgba(254, 254, 254, 0.05);
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 5px;
}
.videoContainer > .videoDesc > .divOptions > .videoOptions > .moreOptionsVideo li{
    padding: 8px 0;
}
.videoContainer > .videoDesc > .divOptions > .videoOptions > .moreOptionsVideo hr{
    width: 75%;
    margin: 0 auto;
    height: 1px;
    background-color: var(--gray-3);
}
.videoContainer > .videoDesc > .divOptions > .videoOptions > .moreOptionsVideo a{
    color: var(--label);
    text-decoration: none;
    font-size: 8px;
    transition: .2s;
}
.videoContainer > .videoDesc > .divOptions > .videoOptions > .moreOptionsVideo a:hover{
    color: var(--description);
}
.videoContainer > .videoDesc > .divOptions > .videoOptions > .moreOptionsVideo a:active{
    color: var(--red);
}
#profile-share-link,
.video-share-link{
    position: absolute;
    top: -1000px;
    right: 1000px;
    opacity: 0;
}