:root{
    --formBackground: #282828;
}

.videoDetails > form{
    width: 80vw;

    background-color: var(--formBackground);
    border-radius: 5px;

    padding: 50px 0;

    display: grid;
    justify-content: center;

    margin: 50px auto;
}
.videoDetails > form .inputBox{
    border: thin solid var(--gray-2);
    border-radius: 5px;
    padding: 10px;

    width: 100%;

    transition: .3s;

    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 5px;
}
.videoDetails > form .inputBox:hover{
    border: thin solid var(--gray-1);
}
.videoDetails > form .inputBox > label{
    color: var(--gray-1);

    font-size: 12px;
    font-weight: 300;
}
.videoDetails > form .inputBox > textarea{
    background-color: transparent;
    resize: none;
    font-size: 15px;

    color: var(--gray-1);
}
.inputBoxDescription{
    height: 250px;
}
.videoDetails > form .inputBox > textarea:focus{
    outline: none;
}
.videoDetails > form .inputBox > textarea::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}
.videoDetails > form .inputBox > textarea::-webkit-scrollbar-track {
    background: transparent;
}
.videoDetails > form .inputBox > textarea::-webkit-scrollbar-thumb {
    background-color: var(--gray-2);
    border-radius: 2px;
}

.videoDetails > form .selectBox{
    padding: 10px 5px;

    width: 500px;

    transition: .3s;

    display: grid;
    grid-template-rows: auto 1fr;
    gap: 5px;
}
.videoDetails > form .selectBox > h1,
.videoDetails > form .searchMusic > h1,
.videoDetails > form .selectType > h1{
    color: var(--placeholder);

    font-size: 16px;
    font-weight: 500;
}
.videoDetails > form .selectBox > span{
    color: var(--gray-3);
    font-style: italic;
    font-size: 10px;
}
.videoDetails > form .selectBox > h2,
.videoDetails > form .searchMusic > h2,
.videoDetails > form .selectType > h2{
    color: var(--gray-1);

    font-size: 14px;
    font-weight: 300;
    margin-bottom: 5px;
}
.videoDetails > form .selectBox > div{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.videoDetails > form .selectBox > div .selectThumbnail{
    width: 200px;
    height: 100px;
    border: thin dashed var(--gray-1);

    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;

    transition: .2s;
    cursor: pointer;
}

.videoDetails > form .selectBox > div > .showThumbnail{
    display: none;
}
.videoDetails > form .selectBox > div > .showThumbnail,
.videoDetails > form .selectBox > div > .showThumbnail > img{
    width: 200px;
    height: 100px;
    transition: .5s;

    position: relative;
}

.videoDetails > form .selectVideo > div{
    grid-template-columns: 1fr auto;
    gap: 20px;
    justify-content: center;
}

.videoDetails > form .selectBox > div > .showThumbnail > h1{
    color: var(--label);
    font-size: 13px;
    font-weight: 300;
    opacity: 0;

    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 2;

    transition: .5s;
}
.videoDetails > form .selectBox > div > .showThumbnail:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
.videoDetails > form .selectBox > div > .showThumbnail:hover > h1{
    opacity: 100%;
}

.videoDetails > form .selectBox > div .selectThumbnail:hover{
    background-color: rgba(0, 0, 0, 0.2);
}

.videoDetails > form .selectBox > div .selectThumbnail > p{
    max-width: 80%;
    text-align: center;

    color: var(--gray-1);

    font-size: 14px;
    font-weight: 400;
}



.videoDetails > form .selectType{
    padding: 10px 5px;

    transition: .3s;

    display: grid;
    gap: 5px;
}
.videoDetails > form .selectType > div{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.videoDetails > form .selectType label {
    display: grid;
    align-items: center;
    align-content: center;
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    font-size: 15px;
    color: var(--placeholder);

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.videoDetails > form .selectType label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.videoDetails > form .selectType .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background-color: var(--placeholder);
    transition: .3s;
}
.videoDetails > form .selectType label:hover input ~ .checkmark {
    background-color: var(--gray-1);
}
.videoDetails > form .selectType label input:checked ~ .checkmark {
    background-color: var(--red);
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.videoDetails > form .selectType label input:checked ~ .checkmark:after {
    display: block;
}







.playerWarning{
    color: var(--gray-1);
    margin-top: 5px;
    text-align: center;
    font-size: 10px;
    display: none;
}

#selectThumbnailInput,
#selectVideoInput{
    display: none;
}
.videoDetails > form .publishButtonUpload > button{
    background-color: var(--secondary-green);
    color: var(--label);
    width: 25%;
    float: right;

    padding: 5px 10px;
    outline: none;
    border: none;
    border-radius: 5px;

    cursor: pointer;

    transition: .3s;
}
.videoDetails > form .publishButtonUpload > button:hover{
    background-color: var(--green);
}
.videoDetails > form .publishButtonDisabledUpload > button{
    background-color: var(--gray-3);
    color: var(--formBackground);
    cursor: inherit;
}
.videoDetails > form .publishButtonDisabledUpload > button:hover{
    background-color: var(--gray-4);
}

.videoDetails > form h1{
    width: 100%;
    color: var(--label);
    font-size: 20px;

    margin: 0 auto;
}

.videoDetails > form .musics{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 5px;
    width: 900px;
}
.videoDetails > form .musics > div{
    display: inline-flex;
    gap: 5px;
    margin: 5px 0;

    width: 47.5%;

    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    user-select: none;

    cursor: pointer;
    transition: .3s;
}
.videoDetails > form .musics > div:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
.videoDetails > form .musics > div > input[type=radio]{
    visibility: hidden;
    width: 0px;
    height: 0px;
}
.videoDetails > form .musics > .musicSelected{
    background-color: rgba(0, 255, 0, 0.05) !important;
}
.videoDetails > form .musics > div > .musicThumbnail > img,
.videoDetails > form .musics > div > .musicThumbnail{
    width: 65px;
    height: 65px;
}
.videoDetails > form .musics > div > .musicInfo{
    color: var(--text);
    width: 100%;
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.videoDetails > form .musics > div > .musicInfo > .musicTitle{
    font-weight: 900;
    font-size: 14px;
}
.videoDetails > form .musics > div > .musicInfo > .musicArtist{
    font-weight: 300;
    font-size: 10px;
}
.videoDetails > form .musics > div > .musicInfo > .musicLink{
    font-weight: 300;
    font-size: 10px;
}
.videoDetails > form .deezerLogo{
    width: 14px;
    vertical-align: middle;
    margin: 0 5px;
    opacity: 50%;
}

#player,
.videoDetails > form .selectVideo > div > .showThumbnail{
    width: calc(3840px / 7);
    height: calc(2160px / 7);
}

.obrigatoryStar{
    color: var(--red) !important;
    font-weight: 100 !important;
    font-size: 10px !important;
    margin: 0 2px;
}