<footer>
    <div>
        <h1>Impusic</h1>
        <div class="footer-hr"></div>
        <p>Impusic é uma plataforma digital de apoio ao crescimento de artistas e produtores de suas obras.</p>
    </div>
    
    <div>
        <h1>Páginas</h1>
        <div class="footer-hr"></div>
        <a href="{{URL}}">Início</a>
        <a href="">Biblioteca</a>
        <a href="{{URL}}/upload">Upload</a>
    </div>
    
    <div>
        <h1>Redes Sociais</h1>
        <div class="footer-hr"></div>
        <a href="https://www.instagram.com/Impusicofficial/">Instagram</a>
    </div>
    
    <div>
        <h1>Lorem Ipsum</h1>
        <div class="footer-hr"></div>
        <a href="">Lorem Ipsum</a>
        <a href="">Lorem Ipsum</a>
        <a href="">Lorem Ipsum</a>
        <a href="">Lorem Ipsum</a>
    </div>
</footer>
<div class="copy">&copy; 2022 Copyright - All Rights Reserved</div>