<div class="loginMenu" id="loginForm">
    <form method="post" action="/tcc/login">
        <div class="close" onclick="closeForm('loginForm')">
            <i class="fa-solid fa-xmark"></i>
        </div>

        <h1>Entrar na sua conta:</h1>
        
        <div class="inputBox">
            <label for="emailLogin">Usuário</label>
            <input name="email" id="emailLogin" required type="text" placeholder="Digite aqui o nome do seu usuário" onkeyup="verifyLoginButton()" autocomplete="off" />
        </div>

        <br>

        <div class="inputBox">
            <label for="passwordLogin">Senha</label>
            <input name="password" id="passwordLogin" required type="password" placeholder="Escreva aqui corretamente sua senha" onkeyup="verifyLoginButton()" autocomplete="off" />
        </div>

        <br>

        <div class="publishButtonDiv">
            <button type="submit" id="publishLoginButton" class="publishButton publishButtonDisabled">Entrar</button>
        </div>
    </form>
</div>