<div class="hero">
    <div class="social">
        <a href="{{spotify_link}}" title="Spotify" target="_blank">
            {{spotify_svg}}
        </a>

        <a href="{{soundcloud_link}}" title="SoundCloud" target="_blank">
            {{soundcloud_svg}}
        </a>

        <a href="{{instagram_link}}" title="Instagram" target="_blank">
            {{instagram_svg}}
        </a>

        <a href="{{facebook_link}}" title="Facebook" target="_blank">
            {{facebook_svg}}
        </a>

        <a href="{{discord_link}}" title="Discord" target="_blank">
            {{discord_svg}}
        </a>
    </div>
</div>
<div class="profileInfo">
    <img src="{{URL}}/resources/images/logos/logo-impusic-bg.png" alt="User Logo">
    <h1>{{name}}</h1>
    <p>{{description}} <a href="">{{seeMore}}</a></p>
    
    <div class="settings">
        {{follow}}
    </div>
</div>

<div class="spaceProfile"></div>

<div class="stats">
    <p><span>{{videosCount}}</span> publicações</p>
    <p><span>{{follows}}</span> seguidores</p>
    <p><span>{{following}}</span> seguindo</p>
</div>
<div class="hr"></div>

<div class="profileVideos">
    {{videoCard}}
</div>