<div class="hero" style="background-image: linear-gradient(rgba(14, 14, 14, 0.879), rgba(196, 196, 196, 0.2)),url('{{URL}}/resources/banners/profile_{{id}}.png'), url('{{URL}}/resources/banners/banner_default.jpg');">
    <div class="social">
        <a href="{{spotify_link}}" title="Spotify" target="_blank">
            {{spotify_svg}}
        </a>

        <a href="{{soundcloud_link}}" title="SoundCloud" target="_blank">
            {{soundcloud_svg}}
        </a>

        <a href="{{instagram_link}}" title="Instagram" target="_blank">
            {{instagram_svg}}
        </a>

        <a href="{{facebook_link}}" title="Facebook" target="_blank">
            {{facebook_svg}}
        </a>

        <a href="{{discord_link}}" title="Discord" target="_blank">
            {{discord_svg}}
        </a>
    </div>
</div>
<div class="profileInfo">
    <img src="{{URL}}/resources/icons/profile_{{id}}.png" onerror="this.src='{{URL}}/resources/icons/profile_default.png';" alt="User Logo">
    <h1>{{name}}</h1>
    <p class="hidden" id="allAccountDescription">{{allAccountDescription}}</p>
    <p class="hidden" id="minAccountDescription">{{accountDescription}}</p>
    <p id="accountDescription"><span>{{accountDescription}}</span> <a id="seeMoreDescription" class="activeMoreDescription" onclick="showAllAccountDescription()">{{seeMore}}</a></p>
    
    <div class="settings">
        {{paperButton}}
    </div>
</div>
<input type="text" id="profile-share-link">

<div class="spaceProfile"></div>

<div class="stats">
    <p><span>{{videosCount}}</span> publicações</p>
    <p><span>{{follows}}</span> seguindo</p>
    <p><span>{{following}}</span> seguidores</p>
</div>
<div class="hr"></div>

<div class="profileVideos">
    {{videoCard}}
</div>