<div class="loginMenu" id="registerForm">
    <form action="register" method="post">
        <div class="close" onclick="closeForm('registerForm')">
            <i class="fa-solid fa-xmark"></i>
        </div>

        <h1>Registrar uma conta:</h1>
        
        <div class="inputBox">
            <label for="nameRegister">Nome</label>
            <input name="name" id="nameRegister" required type="text" placeholder="Digite aqui o seu nome" onkeyup="verifyRegisterButton()" autocomplete="off" />
        </div>

        <br>

        <div class="inputBox">
            <label for="userRegister">Nome de usuário (nome único)</label>
            <input name="user" id="userRegister" required type="text" placeholder="Digite aqui o seu nome de usuário" onkeyup="verifyRegisterButton()" autocomplete="off" />
        </div>

        <br>

        <div class="inputBox">
            <label for="emailRegister">Email</label>
            <input name="email" id="emailRegister" required type="email" placeholder="Digite aqui seu email" onkeyup="verifyRegisterButton()" autocomplete="off" />
        </div>

        <br>

        <div class="inputBox">
            <label for="passwordRegister">Senha</label>
            <input name="password" id="passwordRegister" required type="password" placeholder="Escreva aqui corretamente sua senha" onkeyup="verifyRegisterButton()" autocomplete="off" />
        </div>

        <br>

        <div class="publishButtonDiv">
            <button type="submit" id="publishRegisterButton" class="publishButton publishButtonDisabled">Registrar</button>
        </div>
    </form>
</div>